In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from __future__ import division
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter, WeekdayLocator,\
    DayLocator, MONDAY,date2num,num2date,AutoDateLocator
from matplotlib.finance import quotes_historical_yahoo_ohlc, candlestick_ohlc,candlestick2_ochl,volume_overlay3

from stockapp import models as stkmd
from dataapp import models as dtamd
from dataapp import tasks as dtatks
from dataapp import libs as dtalibs
from featureapp import libs as ftlibs
from featureapp import models as ftmd
from stockapp import tasks as stktks
from stockapp import libs as stklibs
import featureapp.models as ftmd
import featureapp.tasks as fttks
import queryapp.models as qrymd
import queryapp.tasks as qrytks

import charts.chartservers.libs as chservlibs
import charts.libs as chlibs

from datascience import models as dtscmd
from datascience import tasks as dtsctks
from datascience import libs as dtsclibs


import featureapp as ftapp
import utility as uty
from utility import models as utymd
import itertools as itt
import multiprocessing as mp
from django.db import connection,connections
from django.db import reset_queries
import time 
import pandas as pd
import numpy as np
import inspect
import imp
import datetime
from talib.abstract import *
import utility.models as utmd
import stockapp.libs as stklib
from utility import codemanager as cdmng
from utility import maintenance as mnt
import os 
import json
from django.contrib.auth.models import AnonymousUser
import threading

stk=stkmd.Stockmeta.objects.get(Symbol='TSLA')
Fromdate=pd.datetime(2008,1,1)
Todate=pd.datetime.today()
Trange=pd.date_range(Fromdate,Todate)
Trange=[T.date() for T in Trange if T.weekday()<=4]

import json
# fttks.computefeatuers(stk.id,Trange)

/usr/local/lib/python2.7/dist-packages/matplotlib/cbook.py:136: MatplotlibDeprecationWarning: The finance module has been deprecated in mpl 2.0 and will be removed in mpl 2.2. Please use the module mpl_finance instead.
  warnings.warn(message, mplDeprecation, stacklevel=1)
/usr/local/lib/python2.7/dist-packages/matplotlib/__init__.py:1401: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)
Using TensorFlow backend.
/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Charting

In [ ]:
entries=[
    {'Symbol':'TSLA','TF':pd.datetime(2012,1,1).date(),'T0':pd.datetime(2011,1,1).date()  },
    {'Symbol':'AAPL','TF':pd.datetime(2012,1,1).date(),'T0':pd.datetime(2011,1,1).date()  }
]
chservlibs.request_db_charts(entries,5003)
# img=chlibs.CurrentByFutureChart_bydb(entries[0]['T0'],entries[0]['TF'],entries[0]['Symbol'],indicatorlist=(),pricecols=(),querycols=(),featcols=())


# Running Features

In [ ]:
print "---------------- features-------------------"
featurecodes=ftmd.FeatureComputeCode.objects.all()
computecode=featurecodes[0]
computeclass=computecode.importcomputeclass()
CF=computeclass(stk.id,Trange)
CF.computeall(skipdone=True)
# CF.saveall()
print CF.getfeaturelist()

CF.df=CF.addindicators(CF.df,[
        {'name':'SMAstd','timeperiod':20,'colname':'SMAstd20'},
        {'name':'EMAstd','timeperiod':8,'colname':'EMAstd8'},
    ])

# Running Queries

In [ ]:
querycodes=qrymd.QueryComputeCode.objects.all()
computecode=querycodes[0]
computeclass=computecode.importcomputeclass()
CQ=computeclass(stk.id,Trange)
CQ.computeall(skipdone=True)
CQ.saveall()

In [ ]:
CQ.OutcomeCharts()

In [ ]:
CQ.getquerylist()

In [ ]:
CQ.chartfeatures(addpricecols=(),ip=5562,
addfeatcols=[
    ['CCI5','CCI50'],
    ['PastPROFIT10days','PastLOSS10days'],['FutPROFIT10days','FutLOSS10days']
],
addquerycols=[
    'CCICHERRIES',
]
)

# Creating Dataset

In [ ]:
from datascience import libs as dtsclibs

data_id=dtsclibs.register_dataset("PredictReturn",{'description': "Testing the algorithms on TSLA to predict next 10 day return \n"+
                                 "Data taken on every Friday"},'RawProcessed',"OnlyTSLA","1",'npz','Regression',
                                    use_project_ifexists=True)

# Registering function

In [ ]:
from datascience import libs as dtsclibs
import pandas as pd

@dtsclibs.register_compfunc(RequiredImports=['import pandas as pd','from dataapp import libs as dtalibs'],overwrite_if_exists=False)
def extractdataset(data_id,Symbol):
    """
    @funcName : test
    @input x : an int
    @output df : pd.DataFrame, some random 2 by 2 
    @description : takes an int and then returns a dummy dataframe. This is just for testing purposes
    @Source : 
    def extractdataset(data_id,Symbol):
        window=60
        window_fut=30
        Tfs=map(lambda x: ( (x.date()-pd.Dateoffset(window)).date(),x.date(), (x.date()+pd.Dateoffset(window_fut)).date() ),
                pd.date_range(start=pd.datetime(2010,1,1),end=pd.datetime.today(),freq='W-MON') )

        N=len(Tfs)
        dfinstants=pd.DataFrame({'T0':map(lambda x: x[0],Tfs),'TF':map(lambda x: x[1],Tfs),'Symbol':[Symbol]*N})
        X,X_Meta=dtalibs.Getbatchdata(dfinstants)

        dfinstants=pd.DataFrame({'T0':map(lambda x: x[1],Tfs),'TF':map(lambda x: x[2],Tfs),'Symbol':[Symbol]*N})
        Y,Y_Meta=dtalibs.Getbatchdata(dfinstants)

        shard=dtscmd.DataShard(Data__id=data_id)
        shard.Info['X_Meta']=X_Meta
        shard.Info['Y_Meta']=Y_Meta
        shard.save()

        np.savez_compressed(shard.shardpath(),X=X,Y=Y)
    """
    
    window=60
    window_fut=30
    Tfs=map(lambda x: ( (x.date()-pd.Dateoffset(window)).date(),x.date(), (x.date()+pd.Dateoffset(window_fut)).date() ),
            pd.date_range(start=pd.datetime(2010,1,1),end=pd.datetime.today(),freq='W-MON') )
    
    N=len(Tfs)
    dfinstants=pd.DataFrame({'T0':map(lambda x: x[0],Tfs),'TF':map(lambda x: x[1],Tfs),'Symbol':[Symbol]*N})
    X,X_Meta=dtalibs.Getbatchdata(dfinstants)
    
    dfinstants=pd.DataFrame({'T0':map(lambda x: x[1],Tfs),'TF':map(lambda x: x[2],Tfs),'Symbol':[Symbol]*N})
    Y,Y_Meta=dtalibs.Getbatchdata(dfinstants)
    
    shard=dtscmd.DataShard(Data__id=data_id)
    shard.Info['X_Meta']=X_Meta
    shard.Info['Y_Meta']=Y_Meta
    shard.save()
    
    np.savez_compressed(shard.shardpath(),X=X,Y=Y)

extractdataset.id

# Creating initial Stock price dataset

In [1]:
from datascience import models as dtscmd
from datascience import tasks as dtsctks
from datascience import libs as dtsclibs

projid,dataid=dtsclibs.register_dataset(project_Name="PredictReturn",project_Info={'description': "Testing the algorithms on TSLA to predict next 10 day return \n"+
                                 "Data taken on every Friday"},
                                        Datatype='RawProcessed',GroupName="AllStocks",tag="1",
                                        data_format='npz',Modeltype='Regression',
                                        TransformedFromDataId=None,TransFuncId=None, use_project_ifexists=True)

# dtsctks.CreateStockData_2(360,60,dataid,None)

Using TensorFlow backend.

Project  PredictReturn  already exists
The dataset already exists
('project id', 'data id')  :  (7, 6)

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
print dtscmd.Data.objects.filter(Project__id=7,GroupName="AllStocks",tag="1",Datatype='RawProcessed',
                           Dataformat='npz',Modeltype='Regression')
data = dtscmd.Data.objects.get(Project__id=7,GroupName="AllStocks",tag="1",Datatype='RawProcessed',
                           Dataformat='npz',Modeltype='Regression')

data.datapath()

<QuerySet [<Data: PredictReturn AllStocks 1 Regression RawProcessed npz>]>

u'/home/venkat/n.adurthi@gmail.com/repos/trade_analytics/trade_analytics/bigdata/datascience/Projects/PredictReturn/Data/RawProcessed/AllStocks_1'

In [6]:
dtscmd.DataShard.objects.filter(Data=data).delete()

(0, {u'datascience.DataShard': 0})

In [8]:
dtscmd.ComputeFunc.objects.all()

# Fonsuncti on shards

In [2]:
from datascience import models as dtscmd
from datascience import tasks as dtsctks
from datascience import libs as dtsclibs
from celery import group
import time
import pickle as pkl

@dtsclibs.register_compfunc(Group='test',overwrite_if_exists=True)
def GetMeta(shardId):
    print "----------------------"
    print shardId
    print "----------------------"
    
    shard=dtscmd.DataShard.objects.get(id=shardId)
    X,Y,Meta=shard.getdata()
    return Meta

M=dtsctks.applyfunc2data(GetMeta.id,6,wait=True)

over writing previous function
saving function :  GetMeta
function id =  19

{0: {'MetaX': {'columns': Index([u'Close', u'Open', u'High', u'Low', u'Volume', u'Symbol'], dtype='object'),
   'dfinstants':     Symbol                   T0                   TF  window
   0       AL  2009-01-09T00:00:00  2010-01-04T00:00:00     360
   1       AL  2009-01-16T00:00:00  2010-01-11T00:00:00     360
   2       AL  2009-01-23T00:00:00  2010-01-18T00:00:00     360
   3       AL  2009-01-30T00:00:00  2010-01-25T00:00:00     360
   4       AL  2009-02-06T00:00:00  2010-02-01T00:00:00     360
   5       AL  2009-02-13T00:00:00  2010-02-08T00:00:00     360
   6       AL  2009-02-20T00:00:00  2010-02-15T00:00:00     360
   7       AL  2009-02-27T00:00:00  2010-02-22T00:00:00     360
   8       AL  2009-03-06T00:00:00  2010-03-01T00:00:00     360
   9       AL  2009-03-13T00:00:00  2010-03-08T00:00:00     360
   10      AL  2009-03-20T00:00:00  2010-03-15T00:00:00     360
   11      AL  2009-03-27T00:00:00  2010-03-22T00:00:00     360
   12      AL  2009-04-03T00:00:00  2010-03-29T00:00:00     360
   13      AL  2009-04-10T00:00:00  2010-04-05T00:00:00     360
   14      AL  2009-04-17T00:00:00  2010-04-12T00:00:00     360
   15      AL  2009-04-24T00:00:00  2010-04-19T00:00:00     360
   16      AL  2009-05-01T00:00:00  2010-04-26T00:00:00     360
   17      AL  2009-05-08T00:00:00  2010-05-03T00:00:00     360
   18      AL  2009-05-15T00:00:00  2010-05-10T00:00:00     360
   19      AL  2009-05-22T00:00:00  2010-05-17T00:00:00     360
   20      AL  2009-05-29T00:00:00  2010-05-24T00:00:00     360
   21      AL  2009-06-05T00:00:00  2010-05-31T00:00:00     360
   22      AL  2009-06-12T00:00:00  2010-06-07T00:00:00     360
   23      AL  2009-06-19T00:00:00  2010-06-14T00:00:00     360
   24      AL  2009-06-26T00:00:00  2010-06-21T00:00:00     360
   25      AL  2009-07-03T00:00:00  2010-06-28T00:00:00     360
   26      AL  2009-07-10T00:00:00  2010-07-05T00:00:00     360
   27      AL  2009-07-17T00:00:00  2010-07-12T00:00:00     360
   28      AL  2009-07-24T00:00:00  2010-07-19T00:00:00     360
   29      AL  2009-07-31T00:00:00  2010-07-26T00:00:00     360
   ..     ...                  ...                  ...     ...
   363     AL  2015-12-25T00:00:00  2016-12-19T00:00:00     360
   364     AL  2016-01-01T00:00:00  2016-12-26T00:00:00     360
   365     AL  2016-01-08T00:00:00  2017-01-02T00:00:00     360
   366     AL  2016-01-15T00:00:00  2017-01-09T00:00:00     360
   367     AL  2016-01-22T00:00:00  2017-01-16T00:00:00     360
   368     AL  2016-01-29T00:00:00  2017-01-23T00:00:00     360
   369     AL  2016-02-05T00:00:00  2017-01-30T00:00:00     360
   370     AL  2016-02-12T00:00:00  2017-02-06T00:00:00     360
   371     AL  2016-02-19T00:00:00  2017-02-13T00:00:00     360
   372     AL  2016-02-26T00:00:00  2017-02-20T00:00:00     360
   373     AL  2016-03-04T00:00:00  2017-02-27T00:00:00     360
   374     AL  2016-03-11T00:00:00  2017-03-06T00:00:00     360
   375     AL  2016-03-18T00:00:00  2017-03-13T00:00:00     360
   376     AL  2016-03-25T00:00:00  2017-03-20T00:00:00     360
   377     AL  2016-04-01T00:00:00  2017-03-27T00:00:00     360
   378     AL  2016-04-08T00:00:00  2017-04-03T00:00:00     360
   379     AL  2016-04-15T00:00:00  2017-04-10T00:00:00     360
   380     AL  2016-04-22T00:00:00  2017-04-17T00:00:00     360
   381     AL  2016-04-29T00:00:00  2017-04-24T00:00:00     360
   382     AL  2016-05-06T00:00:00  2017-05-01T00:00:00     360
   383     AL  2016-05-13T00:00:00  2017-05-08T00:00:00     360
   384     AL  2016-05-20T00:00:00  2017-05-15T00:00:00     360
   385     AL  2016-05-27T00:00:00  2017-05-22T00:00:00     360
   386     AL  2016-06-03T00:00:00  2017-05-29T00:00:00     360
   387     AL  2016-06-10T00:00:00  2017-06-05T00:00:00     360
   388     AL  2016-06-17T00:00:00  2017-06-12T00:00:00     360
   389     AL  2016-06-24T00:00:00  2017-06-19T00:00:00     360
   390     AL  2016-07-01T00:00:00  2017-06-26T00:00:00     360
   391     AL  2016-07-08T00:00:00  2017-07-03T00:00:00     360
   392     AL  2016-07-15T00:00:00  2017-07-10T00:00:00     360

   [393 rows x 4 columns],
   'shape': (393, 360, 6)},
  'MetaY': {'columns': Index([u'Close', u'Open', u'High', u'Low', u'Volume', u'Symbol'], dtype='object'),
   'dfinstants':     Symbol                   T0                   TF  window
   0       AL  2010-01-04T00:00:00  2010-03-05T00:00:00      60
   1       AL  2010-01-11T00:00:00  2010-03-12T00:00:00      60
   2       AL  2010-01-18T00:00:00  2010-03-19T00:00:00      60
   3       AL  2010-01-25T00:00:00  2010-03-26T00:00:00      60
   4       AL  2010-02-01T00:00:00  2010-04-02T00:00:00      60
   5       AL  2010-02-08T00:00:00  2010-04-09T00:00:00      60
   6       AL  2010-02-15T00:00:00  2010-04-16T00:00:00      60
   7       AL  2010-02-22T00:00:00  2010-04-23T00:00:00      60
   8       AL  2010-03-01T00:00:00  2010-04-30T00:00:00      60
   9       AL  2010-03-08T00:00:00  2010-05-07T00:00:00      60
   10      AL  2010-03-15T00:00:00  2010-05-14T00:00:00      60
   11      AL  2010-03-22T00:00:00  2010-05-21T00:00:00      60
   12      AL  2010-03-29T00:00:00  2010-05-28T00:00:00      60
   13      AL  2010-04-05T00:00:00  2010-06-04T00:00:00      60
   14      AL  2010-04-12T00:00:00  2010-06-11T00:00:00      60
   15      AL  2010-04-19T00:00:00  2010-06-18T00:00:00      60
   16      AL  2010-04-26T00:00:00  2010-06-25T00:00:00      60
   17      AL  2010-05-03T00:00:00  2010-07-02T00:00:00      60
   18      AL  2010-05-10T00:00:00  2010-07-09T00:00:00      60
   19      AL  2010-05-17T00:00:00  2010-07-16T00:00:00      60
   20      AL  2010-05-24T00:00:00  2010-07-23T00:00:00      60
   21      AL  2010-05-31T00:00:00  2010-07-30T00:00:00      60
   22      AL  2010-06-07T00:00:00  2010-08-06T00:00:00      60
   23      AL  2010-06-14T00:00:00  2010-08-13T00:00:00      60
   24      AL  2010-06-21T00:00:00  2010-08-20T00:00:00      60
   25      AL  2010-06-28T00:00:00  2010-08-27T00:00:00      60
   26      AL  2010-07-05T00:00:00  2010-09-03T00:00:00      60
   27      AL  2010-07-12T00:00:00  2010-09-10T00:00:00      60
   28      AL  2010-07-19T00:00:00  2010-09-17T00:00:00      60
   29      AL  2010-07-26T00:00:00  2010-09-24T00:00:00      60
   ..     ...                  ...                  ...     ...
   363     AL  2016-12-19T00:00:00  2017-02-17T00:00:00      60
   364     AL  2016-12-26T00:00:00  2017-02-24T00:00:00      60
   365     AL  2017-01-02T00:00:00  2017-03-03T00:00:00      60
   366     AL  2017-01-09T00:00:00  2017-03-10T00:00:00      60
   367     AL  2017-01-16T00:00:00  2017-03-17T00:00:00      60
   368     AL  2017-01-23T00:00:00  2017-03-24T00:00:00      60
   369     AL  2017-01-30T00:00:00  2017-03-31T00:00:00      60
   370     AL  2017-02-06T00:00:00  2017-04-07T00:00:00      60
   371     AL  2017-02-13T00:00:00  2017-04-14T00:00:00      60
   372     AL  2017-02-20T00:00:00  2017-04-21T00:00:00      60
   373     AL  2017-02-27T00:00:00  2017-04-28T00:00:00      60
   374     AL  2017-03-06T00:00:00  2017-05-05T00:00:00      60
   375     AL  2017-03-13T00:00:00  2017-05-12T00:00:00      60
   376     AL  2017-03-20T00:00:00  2017-05-19T00:00:00      60
   377     AL  2017-03-27T00:00:00  2017-05-26T00:00:00      60
   378     AL  2017-04-03T00:00:00  2017-06-02T00:00:00      60
   379     AL  2017-04-10T00:00:00  2017-06-09T00:00:00      60
   380     AL  2017-04-17T00:00:00  2017-06-16T00:00:00      60
   381     AL  2017-04-24T00:00:00  2017-06-23T00:00:00      60
   382     AL  2017-05-01T00:00:00  2017-06-30T00:00:00      60
   383     AL  2017-05-08T00:00:00  2017-07-07T00:00:00      60
   384     AL  2017-05-15T00:00:00  2017-07-14T00:00:00      60
   385     AL  2017-05-22T00:00:00  2017-07-21T00:00:00      60
   386     AL  2017-05-29T00:00:00  2017-07-28T00:00:00      60
   387     AL  2017-06-05T00:00:00  2017-08-04T00:00:00      60
   388     AL  2017-06-12T00:00:00  2017-08-11T00:00:00      60
   389     AL  2017-06-19T00:00:00  2017-08-18T00:00:00      60
   390     AL  2017-06-26T00:00:00  2017-08-25T00:00:00      60
   391     AL  2017-07-03T00:00:00  2017-09-01T00:00:00      60
   392     AL  2017-07-10T00:00:00  2017-09-08T00:00:00      60

   [393 rows x 4 columns],
   'shape': (393, 60, 6)}},
 1: {'MetaX': {'columns': Index([u'Close', u'Open', u'High', u'Low', u'Volume', u'Symbol'], dtype='object'),
   'dfinstants':     Symbol                   T0                   TF  window
   0      DCO  2009-01-09T00:00:00  2010-01-04T00:00:00     360
   1      DCO  2009-01-16T00:00:00  2010-01-11T00:00:00     360
   2      DCO  2009-01-23T00:00:00  2010-01-18T00:00:00     360
   3      DCO  2009-01-30T00:00:00  2010-01-25T00:00:00     360
   4      DCO  2009-02-06T00:00:00  2010-02-01T00:00:00     360
   5      DCO  2009-02-13T00:00:00  2010-02-08T00:00:00     360
   6      DCO  2009-02-20T00:00:00  2010-02-15T00:00:00     360
   7      DCO  2009-02-27T00:00:00  2010-02-22T00:00:00     360
   8      DCO  2009-03-06T00:00:00  2010-03-01T00:00:00     360
   9      DCO  2009-03-13T00:00:00  2010-03-08T00:00:00     360
   10     DCO  2009-03-20T00:00:00  2010-03-15T00:00:00     360
   11     DCO  2009-03-27T00:00:00  2010-03-22T00:00:00     360
   12     DCO  2009-04-03T00:00:00  2010-03-29T00:00:00     360
   13     DCO  2009-04-10T00:00:00  2010-04-05T00:00:00     360
   14     DCO  2009-04-17T00:00:00  2010-04-12T00:00:00     360
   15     DCO  2009-04-24T00:00:00  2010-04-19T00:00:00     360
   16     DCO  2009-05-01T00:00:00  2010-04-26T00:00:00     360
   17     DCO  2009-05-08T00:00:00  2010-05-03T00:00:00     360
   18     DCO  2009-05-15T00:00:00  2010-05-10T00:00:00     360
   19     DCO  2009-05-22T00:00:00  2010-05-17T00:00:00     360
   20     DCO  2009-05-29T00:00:00  2010-05-24T00:00:00     360
   21     DCO  2009-06-05T00:00:00  2010-05-31T00:00:00     360
   22     DCO  2009-06-12T00:00:00  2010-06-07T00:00:00     360
   23     DCO  2009-06-19T00:00:00  2010-06-14T00:00:00     360
   24     DCO  2009-06-26T00:00:00  2010-06-21T00:00:00     360
   25     DCO  2009-07-03T00:00:00  2010-06-28T00:00:00     360
   26     DCO  2009-07-10T00:00:00  2010-07-05T00:00:00     360
   27     DCO  2009-07-17T00:00:00  2010-07-12T00:00:00     360
   28     DCO  2009-07-24T00:00:00  2010-07-19T00:00:00     360
   29     DCO  2009-07-31T00:00:00  2010-07-26T00:00:00     360
   ..     ...                  ...                  ...     ...
   363    DCO  2015-12-25T00:00:00  2016-12-19T00:00:00     360
   364    DCO  2016-01-01T00:00:00  2016-12-26T00:00:00     360
   365    DCO  2016-01-08T00:00:00  2017-01-02T00:00:00     360
   366    DCO  2016-01-15T00:00:00  2017-01-09T00:00:00     360
   367    DCO  2016-01-22T00:00:00  2017-01-16T00:00:00     360
   368    DCO  2016-01-29T00:00:00  2017-01-23T00:00:00     360
   369    DCO  2016-02-05T00:00:00  2017-01-30T00:00:00     360
   370    DCO  2016-02-12T00:00:00  2017-02-06T00:00:00     360
   371    DCO  2016-02-19T00:00:00  2017-02-13T00:00:00     360
   372    DCO  2016-02-26T00:00:00  2017-02-20T00:00:00     360
   373    DCO  2016-03-04T00:00:00  2017-02-27T00:00:00     360
   374    DCO  2016-03-11T00:00:00  2017-03-06T00:00:00     360
   375    DCO  2016-03-18T00:00:00  2017-03-13T00:00:00     360
   376    DCO  2016-03-25T00:00:00  2017-03-20T00:00:00     360
   377    DCO  2016-04-01T00:00:00  2017-03-27T00:00:00     360
   378    DCO  2016-04-08T00:00:00  2017-04-03T00:00:00     360
   379    DCO  2016-04-15T00:00:00  2017-04-10T00:00:00     360
   380    DCO  2016-04-22T00:00:00  2017-04-17T00:00:00     360
   381    DCO  2016-04-29T00:00:00  2017-04-24T00:00:00     360
   382    DCO  2016-05-06T00:00:00  2017-05-01T00:00:00     360
   383    DCO  2016-05-13T00:00:00  2017-05-08T00:00:00     360
   384    DCO  2016-05-20T00:00:00  2017-05-15T00:00:00     360
   385    DCO  2016-05-27T00:00:00  2017-05-22T00:00:00     360
   386    DCO  2016-06-03T00:00:00  2017-05-29T00:00:00     360
   387    DCO  2016-06-10T00:00:00  2017-06-05T00:00:00     360
   388    DCO  2016-06-17T00:00:00  2017-06-12T00:00:00     360
   389    DCO  2016-06-24T00:00:00  2017-06-19T00:00:00     360
   390    DCO  2016-07-01T00:00:00  2017-06-26T00:00:00     360
   391    DCO  2016-07-08T00:00:00  2017-07-03T00:00:00     360
   392    DCO  2016-07-15T00:00:00  2017-07-10T00:00:00     360

   [393 rows x 4 columns],
   'shape': (393, 360, 6)},
  'MetaY': {'columns': Index([u'Close', u'Open', u'High', u'Low', u'Volume', u'Symbol'], dtype='object'),
   'dfinstants':     Symbol                   T0                   TF  window
   0      DCO  2010-01-04T00:00:00  2010-03-05T00:00:00      60
   1      DCO  2010-01-11T00:00:00  2010-03-12T00:00:00      60
   2      DCO  2010-01-18T00:00:00  2010-03-19T00:00:00      60
   3      DCO  2010-01-25T00:00:00  2010-03-26T00:00:00      60
   4      DCO  2010-02-01T00:00:00  2010-04-02T00:00:00      60
   5      DCO  2010-02-08T00:00:00  2010-04-09T00:00:00      60
   6      DCO  2010-02-15T00:00:00  2010-04-16T00:00:00      60
   7      DCO  2010-02-22T00:00:00  2010-04-23T00:00:00      60
   8      DCO  2010-03-01T00:00:00  2010-04-30T00:00:00      60
   9      DCO  2010-03-08T00:00:00  2010-05-07T00:00:00      60
   10     DCO  2010-03-15T00:00:00  2010-05-14T00:00:00      60
   11     DCO  2010-03-22T00:00:00  2010-05-21T00:00:00      60
   12     DCO  2010-03-29T00:00:00  2010-05-28T00:00:00      60
   13     DCO  2010-04-05T00:00:00  2010-06-04T00:00:00      60
   14     DCO  2010-04-12T00:00:00  2010-06-11T00:00:00      60
   15     DCO  2010-04-19T00:00:00  2010-06-18T00:00:00      60
   16     DCO  2010-04-26T00:00:00  2010-06-25T00:00:00      60
   17     DCO  2010-05-03T00:00:00  2010-07-02T00:00:00      60
   18     DCO  2010-05-10T00:00:00  2010-07-09T00:00:00      60
   19     DCO  2010-05-17T00:00:00  2010-07-16T00:00:00      60
   20     DCO  2010-05-24T00:00:00  2010-07-23T00:00:00      60
   21     DCO  2010-05-31T00:00:00  2010-07-30T00:00:00      60
   22     DCO  2010-06-07T00:00:00  2010-08-06T00:00:00      60
   23     DCO  2010-06-14T00:00:00  2010-08-13T00:00:00      60
   24     DCO  2010-06-21T00:00:00  2010-08-20T00:00:00      60
   25     DCO  2010-06-28T00:00:00  2010-08-27T00:00:00      60
   26     DCO  2010-07-05T00:00:00  2010-09-03T00:00:00      60
   27     DCO  2010-07-12T00:00:00  2010-09-10T00:00:00      60
   28     DCO  2010-07-19T00:00:00  2010-09-17T00:00:00      60
   29     DCO  2010-07-26T00:00:00  2010-09-24T00:00:00      60
   ..     ...                  ...                  ...     ...
   363    DCO  2016-12-19T00:00:00  2017-02-17T00:00:00      60
   364    DCO  2016-12-26T00:00:00  2017-02-24T00:00:00      60
   365    DCO  2017-01-02T00:00:00  2017-03-03T00:00:00      60
   366    DCO  2017-01-09T00:00:00  2017-03-10T00:00:00      60
   367    DCO  2017-01-16T00:00:00  2017-03-17T00:00:00      60
   368    DCO  2017-01-23T00:00:00  2017-03-24T00:00:00      60
   369    DCO  2017-01-30T00:00:00  2017-03-31T00:00:00      60
   370    DCO  2017-02-06T00:00:00  2017-04-07T00:00:00      60
   371    DCO  2017-02-13T00:00:00  2017-04-14T00:00:00      60
   372    DCO  2017-02-20T00:00:00  2017-04-21T00:00:00      60
   373    DCO  2017-02-27T00:00:00  2017-04-28T00:00:00      60
   374    DCO  2017-03-06T00:00:00  2017-05-05T00:00:00      60
   375    DCO  2017-03-13T00:00:00  2017-05-12T00:00:00      60
   376    DCO  2017-03-20T00:00:00  2017-05-19T00:00:00      60
   377    DCO  2017-03-27T00:00:00  2017-05-26T00:00:00      60
   378    DCO  2017-04-03T00:00:00  2017-06-02T00:00:00      60
   379    DCO  2017-04-10T00:00:00  2017-06-09T00:00:00      60
   380    DCO  2017-04-17T00:00:00  2017-06-16T00:00:00      60
   381    DCO  2017-04-24T00:00:00  2017-06-23T00:00:00      60
   382    DCO  2017-05-01T00:00:00  2017-06-30T00:00:00      60
   383    DCO  2017-05-08T00:00:00  2017-07-07T00:00:00      60
   384    DCO  2017-05-15T00:00:00  2017-07-14T00:00:00      60
   385    DCO  2017-05-22T00:00:00  2017-07-21T00:00:00      60
   386    DCO  2017-05-29T00:00:00  2017-07-28T00:00:00      60
   387    DCO  2017-06-05T00:00:00  2017-08-04T00:00:00      60
   388    DCO  2017-06-12T00:00:00  2017-08-11T00:00:00      60
   389    DCO  2017-06-19T00:00:00  2017-08-18T00:00:00      60
   390    DCO  2017-06-26T00:00:00  2017-08-25T00:00:00      60
   391    DCO  2017-07-03T00:00:00  2017-09-01T00:00:00      60
   392    DCO  2017-07-10T00:00:00  2017-09-08T00:00:00      60

   [393 rows x 4 columns],
   'shape': (393, 60, 6)}}}

In [7]:
M[0]['MetaX']['dfinstants']

    Symbol                   T0                   TF  window
0       AL  2009-01-09T00:00:00  2010-01-04T00:00:00     360
1       AL  2009-01-16T00:00:00  2010-01-11T00:00:00     360
2       AL  2009-01-23T00:00:00  2010-01-18T00:00:00     360
3       AL  2009-01-30T00:00:00  2010-01-25T00:00:00     360
4       AL  2009-02-06T00:00:00  2010-02-01T00:00:00     360
5       AL  2009-02-13T00:00:00  2010-02-08T00:00:00     360
6       AL  2009-02-20T00:00:00  2010-02-15T00:00:00     360
7       AL  2009-02-27T00:00:00  2010-02-22T00:00:00     360
8       AL  2009-03-06T00:00:00  2010-03-01T00:00:00     360
9       AL  2009-03-13T00:00:00  2010-03-08T00:00:00     360
10      AL  2009-03-20T00:00:00  2010-03-15T00:00:00     360
11      AL  2009-03-27T00:00:00  2010-03-22T00:00:00     360
12      AL  2009-04-03T00:00:00  2010-03-29T00:00:00     360
13      AL  2009-04-10T00:00:00  2010-04-05T00:00:00     360
14      AL  2009-04-17T00:00:00  2010-04-12T00:00:00     360
15      AL  2009-04-24T00:00:00  2010-04-19T00:00:00     360
16      AL  2009-05-01T00:00:00  2010-04-26T00:00:00     360
17      AL  2009-05-08T00:00:00  2010-05-03T00:00:00     360
18      AL  2009-05-15T00:00:00  2010-05-10T00:00:00     360
19      AL  2009-05-22T00:00:00  2010-05-17T00:00:00     360
20      AL  2009-05-29T00:00:00  2010-05-24T00:00:00     360
21      AL  2009-06-05T00:00:00  2010-05-31T00:00:00     360
22      AL  2009-06-12T00:00:00  2010-06-07T00:00:00     360
23      AL  2009-06-19T00:00:00  2010-06-14T00:00:00     360
24      AL  2009-06-26T00:00:00  2010-06-21T00:00:00     360
25      AL  2009-07-03T00:00:00  2010-06-28T00:00:00     360
26      AL  2009-07-10T00:00:00  2010-07-05T00:00:00     360
27      AL  2009-07-17T00:00:00  2010-07-12T00:00:00     360
28      AL  2009-07-24T00:00:00  2010-07-19T00:00:00     360
29      AL  2009-07-31T00:00:00  2010-07-26T00:00:00     360
..     ...                  ...                  ...     ...
363     AL  2015-12-25T00:00:00  2016-12-19T00:00:00     360
364     AL  2016-01-01T00:00:00  2016-12-26T00:00:00     360
365     AL  2016-01-08T00:00:00  2017-01-02T00:00:00     360
366     AL  2016-01-15T00:00:00  2017-01-09T00:00:00     360
367     AL  2016-01-22T00:00:00  2017-01-16T00:00:00     360
368     AL  2016-01-29T00:00:00  2017-01-23T00:00:00     360
369     AL  2016-02-05T00:00:00  2017-01-30T00:00:00     360
370     AL  2016-02-12T00:00:00  2017-02-06T00:00:00     360
371     AL  2016-02-19T00:00:00  2017-02-13T00:00:00     360
372     AL  2016-02-26T00:00:00  2017-02-20T00:00:00     360
373     AL  2016-03-04T00:00:00  2017-02-27T00:00:00     360
374     AL  2016-03-11T00:00:00  2017-03-06T00:00:00     360
375     AL  2016-03-18T00:00:00  2017-03-13T00:00:00     360
376     AL  2016-03-25T00:00:00  2017-03-20T00:00:00     360
377     AL  2016-04-01T00:00:00  2017-03-27T00:00:00     360
378     AL  2016-04-08T00:00:00  2017-04-03T00:00:00     360
379     AL  2016-04-15T00:00:00  2017-04-10T00:00:00     360
380     AL  2016-04-22T00:00:00  2017-04-17T00:00:00     360
381     AL  2016-04-29T00:00:00  2017-04-24T00:00:00     360
382     AL  2016-05-06T00:00:00  2017-05-01T00:00:00     360
383     AL  2016-05-13T00:00:00  2017-05-08T00:00:00     360
384     AL  2016-05-20T00:00:00  2017-05-15T00:00:00     360
385     AL  2016-05-27T00:00:00  2017-05-22T00:00:00     360
386     AL  2016-06-03T00:00:00  2017-05-29T00:00:00     360
387     AL  2016-06-10T00:00:00  2017-06-05T00:00:00     360
388     AL  2016-06-17T00:00:00  2017-06-12T00:00:00     360
389     AL  2016-06-24T00:00:00  2017-06-19T00:00:00     360
390     AL  2016-07-01T00:00:00  2017-06-26T00:00:00     360
391     AL  2016-07-08T00:00:00  2017-07-03T00:00:00     360
392     AL  2016-07-15T00:00:00  2017-07-10T00:00:00     360

[393 rows x 4 columns]

In [7]:
dtscmd.DataShard.objects.filter(Data__id=6,id__lte=6036).delete()

(801, {u'datascience.DataShard': 801})

# Creating derived DataSet